:root {
  --background-primary-color: #f5f5f5;
  --background-secondary-color: #f5f4fa;
  --primary-text-color: #757575;
  --headlines: #212121;
  --accent-color: #2196f3;
  --footer-background-color: #2f303a;
  --header-background-color: #ffffff;
  --logo-black-color: #000000;
  --portfolio-border: #eeeeee;
  --header-border: #ececec;
  --bg-hero-color: #c4c4c4;
  --icon-color: #afb1b8;
  --tasks-overlay-color: rgba(47, 48, 58, 0.8);
  --portfolio-overlay-color: rgba(33, 150, 243, 0.9);
  --close-border-color: rgba(0, 0, 0, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --form-borders: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --footer-inbut-border: rgba(255, 255, 255, 0.3);
  --card-set-gap: 30px;
}

.page {
  /* background-color: var(--background-primary-color); */
  background-color: var(--header-background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* SECTION */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* CONTAINER */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header > .container,
.team > .container .footer > .container {
  margin-bottom: 0px;
}

.header > .container,
.footer > .container {
  display: flex;
  /* align-items: center; */
}

/* Шапка сайту */

.header {
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--header-border);
}

.header .logo {
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-black-color);
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

/* Навігація сайту в шапці */
.nav {
  display: flex;
}

.nav__list {
  display: flex;
  margin-left: 93px;

  list-style-type: none;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--headlines);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active,
.nav__link--current {
  color: var(--accent-color);
}

.link--current {
  position: relative;
}

.link--current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

/* Контакти в шапці*/

.contacts {
  display: flex;
  margin-left: auto;

  list-style-type: none;
}

.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus{
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__container {
  display: flex;
  align-items: center;
}

/* Унікальна інформація */
/* Герой */

.hero {
  height: 600px;
  max-width: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img.jpg");

  background-color: var(--bg-hero-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-background-color);
}

.hero__btn {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--header-background-color);
  border: transparent;
  cursor: pointer;
}

/* Переваги */

.benefits {
  padding-bottom: 0px;
}

.benefits__head {
  color: transparent;
  height: 0;
}

.benefits__list {
  display: flex;
  justify-content: space-between;

  list-style-type: none;
}

.benefits__icon-div {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  background-color: var(--background-secondary-color);
}

.benefits__title {
  width: 270px;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headlines);
}

.benefits__description {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чим ми займаємося */

.tasks__head {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headlines);
}

.tasks__list {
  display: flex;
  justify-content: space-between;

  list-style-type: none;
}

.tasks__item {
  position: relative;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-background-color);
}

.tasks__overlay {
  position: absolute;
  /* left: 0; */
  bottom: 0;
  width: 100%;

  background-color: var(--tasks-overlay-color);
  padding-top: 27px;
  padding-bottom: 27px;
}

/* Наша команда */

.employee {
  background-color: var(--background-secondary-color);
}

.employee__head {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headlines);
}

.employee__list {
  display: flex;
  justify-content: space-between;

  list-style-type: none;
}

.employee__item {
  width: 270px;
  min-height: 368px;
  border-radius: 0px 0px 4px 4px;

  background-color: var(--header-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.employee-card__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee-card__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--headlines);
}

.employee-card__position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Соціальні мережі команди */

.social-networks {
  display: flex;
  justify-content: space-around;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;

  list-style: none;
}

.social-networks__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  color: var(--icon-color);
  border-radius: 50%;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__icon {
  fill: currentColor;
}

.social-networks__link:hover,
.social-networks__link:focus {
  background-color: var(--accent-color);
  color: var(--header-background-color);
}

/* Постійні клієнти */

.clients__head {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headlines);
}

.clients__list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/* Футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-background-color);
}

.footer .container {
  align-items: baseline;
}

.footer .address {
  margin-right: 70px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-background-color);
  text-decoration: none;
}

.location {
  margin-bottom: 9px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-background-color);
}

.contacts-footer-list {
  list-style-type: none;
}

.footer-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:not(:last-child) {
  /* display: inline-block; */
  margin-bottom: 9px;
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

.social-head,
.subscription-head {
  margin-bottom: 20px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-background-color);
}

.footer .link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--header-background-color);
}

.social-list .link:hover,
.social-list .link:focus {
  background-color: var(--accent-color);
  color: var(--header-background-color);
}

.subscription {
  margin-left: auto;
}

.input-mail {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;

  background-color: var(--footer-background-color);
  border: 1px solid var(--footer-inbut-border);
  border-radius: 4px;
  color: var(--header-background-color);
  cursor: pointer;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-mail:hover,
.input-mail:focus {
  border-color: var(--accent-color);
}

.subscription-form {
  display: flex;
  flex-direction: row;
}

.subscription-button {
  display: flex;
  align-items: center;

  border-radius: 4px;
  padding: 10px 28px;
  margin-left: 12px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--header-background-color);
  border: transparent;
  cursor: pointer;
}

.subscription .icon {
  fill: currentColor;
  margin-left: 10px;
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--backdrop-color);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;

  background: var(--header-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-width: 30px;
  min-height: 30px;

  background-color: transparent;
  border: 1px solid var(--close-border-color);
  border-radius: 50%;
  color: var(--logo-black-color);
  cursor: pointer;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  color: var(--accent-color);
}

.close-icon {
  fill: currentColor;
}

.form-head {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--headlines);
}

.customer-data {
  margin-bottom: 20px;
}

.policy-options {
  margin-bottom: 30px;
}

.policy-item {
  display: flex;
  align-items: center;
}

.policy-options,
.customer-data {
  list-style: none;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-item label {
  margin-bottom: 4px;
}

.form-item input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-div {
  position: relative;
}

.form-item textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form-item textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.form-item input,
.form-item textarea {
  border: 1px solid var(--form-borders);
  border-radius: 4px;
  color: var(--logo-black-color);
  cursor: pointer;

  transition-property: border-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item input:hover,
.form-item textarea:hover,
.form-item input:focus,
.form-item textarea:focus {
  border-color: var(--accent-color);
}

.form-item .icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  fill: var(--headlines);

  transition-property: fill;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item input:hover + .icon,
.form-item input:focus + .icon {
  fill: var(--accent-color);
}

.checkbox {
  appearance: none;
}

.policy .icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  margin-left: 13px;

  border: 2px solid var(--headlines);
  border-radius: 2px;
}

.checkbox:checked + .icon {
  background-color: var(--accent-color);
  background-image: url(../images/vector-compressed/checked.svg);
  /* background-origin: border-box; */
  background-position: center;
  border-color: transparent;
  background-repeat: no-repeat;
}

.policy {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.policy .link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.form-btn {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 52px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--header-background-color);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

/* Портфоліо */

.portfolio > .container {
  display: flex;
  flex-direction: column;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  list-style-type: none;
}

.filter-list .item + .item {
  margin-left: 8px;
}

.secondary-button {
  padding: 6px 22px;
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--background-secondary-color);
  border: transparent;
  color: var(--headlines);
  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--accent-color);
  color: var(--header-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio-list */

.portfolio-head {
  color: transparent;
  height: 0;
}

.portfolio-list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));

  list-style-type: none;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);

  background-color: var(--header-background-color);
  border: 1px solid var(--portfolio-border);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card-thumb {
  position: relative;
  overflow: hidden;
}

.project-card-content {
  padding: 20px 24px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headlines);
}

.project-description {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.project-card-thumb .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);

  padding: 63px 24px;

  background-color: var(--portfolio-overlay-color);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--header-background-color);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .project-card-thumb .overlay {
  transform: translateY(0);
}

/* background-primary-color: #F5F5F5 */
/* background-secondary-color: #F5F4FA */
/* primary-text-color: #757575 */
/* headlines: #212121 */
/* accent-color: #2196F3 */
/* footer-background-color: #2F303A */
/* header-background-color: #FFFFFF */
/* logo-black-color:#000000 */
/* portfolio-border:#EEEEEE */
