$random-clr: crimson;
$accent-clr: #2196f3;
// --logo-black-color in css
$black-clr: #000000;
// header-background-color in css
$white-clr: #ffffff;
// primary-text-color in css
$primary-text-clr: #757575;
// header-border in css
$header-border-clr: #ececec;
//headlines in css
$headline-clr: #212121;


$animation: cubic-bezier(0.4, 0, 0.2, 1);
