$random-clr: crimson;
$accent-clr: #2196f3;
// --logo-black-color in css
$black-clr: #000000;
// header-background-color in css
$white-clr: #ffffff;
// primary-text-color in css
$primary-text-clr: #757575;
// header-border in css
$header-border-clr: #ececec;
//headlines in css
$headline-clr: #212121;
// close-border-color in css - once
$close-btn: rgba(0, 0, 0, 0.1);
// bg-hero-color in css - once
$bg-hero-clr:#c4c4c4;
// background-secondary-color in css
$bg-secondary-clr: #f5f4fa;

$shadow-clr: rgba(0, 0, 0, 0.15);
$animation: cubic-bezier(0.4, 0, 0.2, 1);
